/*Code to set the 3D cube */
.space3d {
  /* background-image: url(../img/background2.1.png);
    background-repeat: no-repeat;
    background-size: cover; */
  width: 90%;
  margin: 0px auto;
  border: 1px solid rgba(0, 0, 0, 0.5);
  perspective: 800px;
}

#cube3D {
  margin: 20px auto;
  width: 700px;
  height: 700px;
  transform-style: preserve-3d;
  transform: scale3d(0.7, 0.7, 0.7);
}

aside.cara {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 3rem;
  border: solid 2px black;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(../img/front1.png);
}
aside.front {
  /* Front */
  z-index: 1;
  background: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  );
  transform: translateZ(350px);
 
}

aside.back {
  /* back */
  background-color: white;
  transform: translateZ(-350px) rotateX(180deg);
}

aside.up {
  /* left */
  background-color: white;
  transform: translateY(-50%) rotateX(90deg);
}

aside.down {
  /* right */
  background-color: white;
  transform: translateY(50%) rotateX(270deg);
}

aside.left {
  /* down*/
  background-color: white;
  transform: translateX(-50%) rotateY(-90deg);
}

aside.right {
  /* arriba */
  background-color: white;
  transform: translateX(50%) rotateY(90deg);
}
