/*Code to set the 3D cube */
.space3d {
    /* background-image: url(../img/background2.1.png);
    background-repeat: no-repeat;
    background-size: cover; */
    width: 90%;
    margin: 0px auto;
    border: 1px solid rgba(0, 0, 0, 0.5);
    perspective: 800px;
  }
  
  #cube3D {
    margin: 20px auto;
    width: 700px;
    height: 700px;
    transform-style: preserve-3d;
    transform: scale3d(.7,.7,.7);
  
    
  }
  
  aside.cara {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255,150,0,0.25);
    border: 1px solid rgba(0, 0, 0, 0.75);
    font-size: 3rem;
  }
  
  aside.front { /* Front */
    background-color: white;
    transform: translateZ(350px);
  }
  
  aside.back { /* back */
   background-color: red;
   transform: translateZ(-350px) rotateX(180deg);
  }
  
  aside.up { /* left */
    background-color: blue;
    transform: translateY(-50%) rotateX(90deg);
  }
  
  aside.down { /* right */
    background-color: green;
    transform: translateY(50%) rotateX(270deg);
  }
  
  aside.left { /* down*/
    background-color: gray;
    transform: translateX(-50%) rotateY(-90deg);
  }
  
  aside.right { /* arriba */
    background-color: rgb(79, 191, 232);
    transform: translateX(50%) rotateY(90deg);
  }
